@import "../../../sass/style.scss";
#btn_add_card {
	background-color: $primary;
	box-shadow: $shadow_sm;
}

#card {
	box-shadow: $shadow_sm;

	transition: all 0.15s ;
	&:hover {
		scale: 1.009;
	}
}

img {
	cursor: pointer;
}

