@import "../styles/colors";

.form_login {
	width: 70vw;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 14px;
	box-shadow:  0px 0px 16px rgba(0, 0, 0, 0.10);
	overflow: auto;
	transition: background-color .15s ease;

	.btn_login {
		background-color: $primary;
		color: white;
	}
}

.form_login.dark_mode {
	background-color: $dark_2;
	h1 {
		color: white;
	}
	label {
		color: white;
	}

	#login_help {
		color: $dark_3;
	}
}

.btn_github {
	width: 300px;
	padding: 1rem;
	max-width: 90vw;
}
